
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

db.sqlite3
# Django stuff:
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
